<%= form_with(model: @task, local:true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.error_number') %></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="task_name">
      <%= form.label :task_name %>
      <p><%= form.text_field :task_name %></p>
    </div>
    <div class="content">
      <%= form.label :content %>
      <p><%= form.text_area :content %></p>
    </div>
    <div class="deadline">
      <%= form.label :deadline %>
      <p><%= form.date_field :deadline %></p>
    </div>
    <div class="priority">
      <%= form.label :priority %>
      <p><%= form.select :priority, {高: '高', 中: '中', 低: '低'}  %></p>
    </div>

    <% if action_name == 'new' %>

    <div class="status">
      <%= form.hidden_field :status, value: "未着手" %>
    </div>
    <%= form.submit "タスクを作成" %>

    <% else %>
    <div class="status">
      <%= form.label :status %>
      <p><%= form.select :status, {未着手:'未着手', 着手中: '着手中', 完了: '完了'} %></p>
    </div>
    <%= form.submit "タスクを更新" %>
    <% end %>
    <% end %>
