<h2><%= t('view.index') %></h2>
<%= notice %>
<%= link_to "終了期限でソートする", tasks_path(sort_deadline: "true") %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
<%= form_with(model: @task, local: true, method: :get, url: tasks_path) do |form| %>
  <%= form.label :task_name_search, "タスク名検索" %>
  <%= form.text_field :task_name%>

  <%= form.label :status_search, "ステータス検索" %>
  <%= form.select :status, Task.statuses.keys %>

  <%= form.hidden_field :search, value: true %>

  <%= form.submit 'Search' %> <%= link_to 'Clear', tasks_path %>
<% end %>
<%= link_to t('view.new'), new_task_path, class: "btn btn-primary" %>

<table>
  <tr>
    <th class= 'th_task_name'><%= t('view.task_name') %></th>
    <th class= 'th_content'><%= t('view.content') %></th>
    <th class= 'th_created_at'><%= t('view.created_at') %></th>
    <th class= 'th_deadline'>終了期日</th>
    <th class= 'th_status'>ステータス</th>
    <th class= 'th_priorit'>優先順位</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.task_name %></td>
    <td><%= task.content %></td>
    <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
    <td><%= task.deadline.strftime('%Y-%m-%d') %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><div class="alert alert-warning" role="alert"><%= link_to t('view.show'), task_path(task.id),class: "alert-link" %></td>
    <td><div class="alert alert-info" role="alert"><%= link_to t('view.edit'), edit_task_path(task.id), class: "alert-link" %></div></td>
    <td><div class="alert alert-danger" role="alert"><%= link_to t('view.delete'), task_path(task.id), class: "alert-link",  method: :delete ,data: { confirm: "本当に削除してもよろしいですか？" } %></td>
  </tr>
<% end %>
</table>
<%= paginate @tasks %>
